


/////////----------------------------------------------------------------------------------
/////////Header  --------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

header{
      margin-bottom: 2em;
}


.up{
    padding:1em;
}

.up:after{
    content:"";
    display:block;
    clear:both;
}


#logo a{
    border:none;
}

.cart{
    text-align: center;
    padding: 0.5em;
    p{
        border-top: 1px solid silver; 
        border-bottom: 1px solid silver; 
        padding: 0.3em;
        margin-bottom: 0.3em;
        margin-top: 0.3em;
    }

}


.user{
    text-align: right;
    h3{
        text-align: center;
        a{ font-size: 0.8em; color: silver; }
        a:hover{ color: $orange; }
    }
    overflow:hidden;
    position:relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:black;
    input{
    -moz-box-sizing: border-box;
        box-sizing: border-box;
        width:100%;
    }
}

[type="text"],[type="password"]{
    background-color: transparent;
    border: 1px solid $darkBlueLight;
    padding:0.2em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    color:black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
}


[type="submit"]:focus, [type="text"]:focus,[type="password"]:focus{
    outline:none;
}

[type="submit"]:hover{
    cursor:pointer;
    background-color: $orange;
    border-color: $orange;
}

[type="submit"]{
    background-color: $blue;
    border:1px solid $blue;
    padding:0.4em;
    font-size: 1em;
    color:$sky;
}

input:focus{
border: 1px solid #FF7C00;
}


.buttonSearch{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    border:none;
    background-color: $blueLight;
    padding:0;
    margin:0;
    -moz-appearance: none;
    font-size: 1em;
    left:0;
    width:15%;
    border-top: 1px solid $darkBlueLight;
    border-right: 1px solid $darkBlueLight;
    border-bottom: 1px solid $darkBlueLight;
    color:$sky;
    padding: 0.4em;
    font-weight: lighter;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.buttonSearch:hover{
    cursor:pointer;
    background-color: $blue;
}

.buttonSearch:focus{
    outline: none;
}

#searchField:focus{
    outline: none;
    border-color: $orange;
}

#searchField:focus + .buttonSearch{
    border-color: $orange;
}

#searchField{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    width:85%;
    margin:0;
    padding:0;
    padding: 0.4em;
    border-radius: 0;
    border-color: $darkBlueLight;
    margin-bottom: 0.5em;
}

.utils{
    position:relative;
}