$blue: rgba(52, 152, 219,1.0);
$blueLight: rgba(52, 152, 219,0.8);
$sky: rgba(236, 240, 241,1.0);
$darkBlue: rgba(52, 73, 94,1.0);
$darkBlueLight: rgba(52, 73, 94,0.8);
$greenOk: rgba(46, 204, 113,1.0);
$orange:rgba(230, 126, 34,1.0);
$red:rgba(192, 57, 43,1.0);