/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "navigation";
@import "content";
@import "header"; 
@import "footer"; 

h1      { font-size: 2em;}
h2      { font-size: 1.5em;}
h3      { font-size: 1.17em;}
h4      { font-size: 1em;}
h5      { font-size: 0.83em;}
h6      { font-size: 0.75em;}

h1,h2,h3,h4,h5,h6{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    line-height: 1.6em;
}
html{font-size: 16px;}
body{
    font-size: 16px;
    padding: 2em 0;
    background: fixed url("../img/bright_squares.png");
}

.container{
    width: 90%;
    background-color: white;
    margin:0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    line-height: 1.3em;
    box-shadow: 0 0 5px silver;
}

.container:after{
    content:"";
    display:block;
    clear:both;
}

a{
    border-bottom: 1px dotted silver;
}

a:hover{
    color:$orange;
    border-color: $orange;
}

.hidden{
    visibility:hidden;
    position:absolute;
    text-indent: -10000px;
    display:none;
}

